* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
    padding-bottom: 10px;
    font-size: 20px;
}

.bg-dark {
    background-color: #333;
    color: white;
}

.bg-primary {
    background-color: #f7c08a;
    color: black;
}

.bg-light {
    background-color: #f4f4f4;
    color: black;
}

.lead {
    font-size: 20px;
}

p {
    margin: 10px 0px;
}

a {
    color: white;
    text-decoration: none;
}

.l-heading {
    font-size: 40px;
}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}

.btn {
    background-color: black;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #f7c08a;
    color: black;
}

.btn-primary {
    background-color: #f4f4f4;
    color: black;
}

.box {
    width: 33%;
    float: left;
    padding: 50px;
    text-align: center;
}

#navbar {
    overflow: auto;
    color: white;
    background-color: #333;
}

#navbar a {
    color: white;
}

#navbar #logo {
    margin-top: 10px;
    float: left;
    color: white;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    background-color: #444;
    color: #f7c08a;
}

#navbar ul li a.current {
    background-color: #444;
    color: #f7c08a;
}

#showcase {
    background-image: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    color: white;
    text-align: center;
}

#showcase h1 {
    padding-top: 150px;
    text-align: center;
}

#showcase a {
    margin-top: 40px;
}

#showcase p {
    text-align: center;
}

.primary-text {
    color: #f7c08a;
}

#showcase h1 {
    font-size: 60px;
}

.features {
    overflow: auto;
}

.clr {
    clear: both;
}

.info {
    height: 400px;
    overflow: hidden;
}

.info-data {
    padding: 50px 30px;
    text-align: center;
    width: 50%;
    float: right;
}

.info-data p {
    text-align: justify;
}

.info-img {
    width: 50%;
    float: left;
    min-height: 100%;
    background-image: url('../img/photo-1.jpg');
}

.main-footer {
    padding: 20px;
    text-align: center;
}

.about-info {
    padding: 20px 0;
    overflow: auto;
}

.about-info-data,
.about-info-img {
    float: left;
    width: 50%;
    min-height: 200px;
}

.about-info-data {
    text-align: start;
}

.about-info-img img {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    display: block;
}

#testimonial {
    background-image: url(../img/test-bg.jpg);
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.testimonial {
    opacity: 0.9;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #f7c08a;
    overflow: auto;
    padding: 20px;
    color: black;
}

.test-img {
    width: 100px;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

.form-group textarea {
    height: 200px;
}

.form-group {
    margin-bottom: 10px;
}